# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.DS_Store?
._*
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
* [0-9]*
* 2.*
* 3.*
* copy*

# IntelliJ & VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
.packages

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android Studio artifacts
/android/.gradle/
/android/local.properties
/android/app/build/
/android/app/debug/
/android/app/profile/
/android/app/release/
/android/captures/
/android/.cxx/

# iOS artifacts
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/ephemeral/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/.last_build_id
/ios/*.xcworkspace
/ios/*.xcuserdata/
/ios/**/xcuserdata/
/ios/Podfile.lock
/ios/DerivedData/
